<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paiement réussi - Français Complet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container small-container">
    <div class="message-box success-box">
        <h1>Paiement réussi</h1>
        <p>Merci pour votre achat.</p>
        <p>Votre fichier est prêt à être téléchargé.</p>

        <a class="btn" href="{{ download_url }}">Télécharger le PDF</a>
    </div>
</div>

</body>
</html>
